server:
  port: 0

spring:
  datasource:
    url: jdbc:mysql://mysql-auth:3306/identity?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8
    username: root
    password: 123456

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: ${EUREKA_INSTANCE_HOSTNAME:auth-service}
    ip-address: ${EUREKA_INSTANCE_IP:auth-service}

